:root {
  --ifm-color-primary: #7ba7d9;
  --ifm-color-primary-dark: #6a95c6;
  --ifm-color-primary-darker: #5c84b3;
  --ifm-color-primary-darkest: #4d7198;
  --ifm-color-primary-light: #8eb6e0;
  --ifm-color-primary-lighter: #a3c6e7;
  --ifm-color-primary-lightest: #d2e4f5;
}

[data-theme="dark"] {
  --ifm-color-primary: #7ba7d9;
  --ifm-color-primary-dark: #6a95c6;
  --ifm-color-primary-darker: #5c84b3;
  --ifm-color-primary-darkest: #4d7198;
}
